body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.30s;
}

.title{
    font-size: 30px;
    font-weight: bold;
    transition: 0.30s;
}
.move-icon{
  height: 50px;
  border: none;
  transition: 0.30s;
}

.move-button{
  background-color: transparent;
  border: 2px solid white;
  padding: 25px;
  border-radius: 50px 50px 4px 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.30s;
}
.move-button:hover{
  opacity: 0.9;
  background-color: rgba(255, 255, 255, 0.184);
  transition: 0.30s;
}
.move-button:active{
  opacity: 0.5;
}

.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  transition: 0.30s;
}
.score{
  margin-top: 60px;
  transition: 0.30s;
}
.reset-score-button{
  background-color: white;
  padding: 8px 15px;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.30s;
}
.reset-score-button:hover{
opacity: 0.8;
}
.reset-score-button:active{
opacity: 0.5;
}